## AUTO-DETECT
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
* text=auto

## SOURCE CODE
*.css      text
*.html     text
*.scss     text

## DOCUMENTATION
*.md         text
*.txt        text
LICENSE      text
*README*     text

## LINTERS
.stylelintrc  text

## CONFIGS
.browserslistrc text
.editorconfig   text
.gitattributes  text
.gitignore      text
.npmrc          text
.nvmrc          text
*.yaml          text

## GRAPHICS
*.png  binary
