---
title: Projects
description: Yes, I've been around
key: projects
order: 4
tags:
    - section
---
<ul class="list">
    {%- for project in collections.project -%}
        <li class="list-item">
            {% include "project.njk" %}
        </li>
    {%- endfor -%}
</ul>
