@import '../typography';

.chapter__description {
	font-family: $opensanscondensed;
	font-size: 1.25em;
	font-weight: $opensanscondensed--normal;
	line-height: 1.25;
}

.chapter__period {
	font-size: .625em;
	line-height: 1;
}

.chapter__title {
	margin-top: .136em;
	font-size: 1.375em;
	line-height: 1;
}

.chapter__content {
	p {
		&:first-child {
			margin-top: .8125em;
		}
	}
}
