@import '../mixins';
@import '../typography';

:root {
	--section-header-background-color: #fafafa;
	--section-header-icon-color: #ddd;
	--section-title-color: #e3655b;
	--section-counter-color: #3891a6;
}

.section {
	@include mq($bp-tablet--sm) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
}

.section__header {
	position: relative;
	padding: .1px 1rem;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	background-color: var(--section-header-background-color);

	&::after {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		color: var(--section-header-icon-color);
		font-size: 4.25em;
	}

	@include mq($bp-tablet--sm) {
		flex: 13.625rem 0 0;
		padding-right: 2rem;
		border-top: 0;
		border-bottom: 0;
		text-align: right;

		&::after {
			display: none;
		}
	}

	@include mq($bp-desktop--sm) {
		flex-basis: calc(50% - #{$book-max-width / 2});
	}

	.section:first-child & {
		border-top: 0;
	}
}

.section__title {
	margin-top: .375em;
	color: var(--section-title-color);
	font-size: 2em;
	line-height: 1;

	@include mq($bp-tablet--sm) {
		margin-top: .125em;

		.section:first-child & {
			margin-top: .375em;
		}
	}

	@include mq($bp-desktop--lg) {
		margin-top: 0;
		font-size: 4em;
	}

	.section--skills & {
		@include mq($bp-tablet--sm) {
			margin-top: 0;
		}

		@include mq($bp-desktop--lg) {
			margin-top: 0;
			font-size: 4em;
		}
	}

	.section--education &,
	.section--projects & {
		@include mq($bp-tablet--sm) {
			margin-top: .625em;
		}

		@include mq($bp-desktop--lg) {
			margin-top: 0;
			font-size: 4em;
		}
	}
}

.section__lead {
	margin-top: .16em;
	margin-bottom: .77em;
	font-family: $opensanscondensed;
	font-size: 1.125em;
	font-weight: $opensanscondensed--normal;
	line-height: 1;

	@include mq($bp-desktop--lg) {
		font-size: 2.5em;
	}
}

.section__content {
	padding: 0 1rem;

	@include mq($bp-tablet--sm) {
		padding: 0 2rem;
	}

	@include mq($bp-desktop--lg) {
		max-width: $book-max-width;
	}

	.section--about & {
		@include mq($bp-tablet--sm) {
			padding-top: .8125em;
		}
	}

	.section--education & {
		padding-bottom: 1.6875em;
	}

	.section--expertise & {
		counter-reset: expertise;
	}

	.section--projects & {
		padding-bottom: 2.3125em;
	}
}

.section__content h3 {
	.section--expertise & {
		counter-increment: expertise;

		&::before {
			display: inline-block;
			box-sizing: content-box;
			padding-right: 1rem;
			color: var(--section-counter-color);
			font-weight: $opensanscondensed--bold;
			letter-spacing: 1px;
			text-align: center;
			content: counters(expertise, '.', decimal-leading-zero);

			@include mq($bp-phone--sm) {
				width: 1.09em;
			}

			@include mq($bp-tablet--sm) {
				width: auto;
				padding-right: .25em;
				font-weight: $opensanscondensed--normal;
				content: counter(expertise)'.';
			}
		}
	}
}

.section__content p {
	.section--expertise & {
		@include mq($bp-phone--sm) {
			padding-left: 2.5rem;
		}

		@include mq($bp-tablet--sm) {
			padding-left: 0;
		}
	}
}
