@import '../mixins';

:root {
	--timeline-color: var(--border-color);
	--timeline-event-bullet-color: #f8bb10;
	--timeline-event-bullet-background-color: var(--content-background-color);
}

.timeline {
	position: relative;
	margin-top: .9375em;
	padding-left: 1rem;
	list-style-type: none;

	&::before {
		position: absolute;
		top: -.9375em;
		bottom: 0;
		left: 0;
		width: 1px;
		background-color: var(--timeline-color);
		//background-color: red;
		content: '';
	}

	.section--education &::before {
		bottom: -1.6875em;

		@include mq($bp-tablet--sm) {
			//top: 2rem;
		}
	}

	.section--projects &::before {
		bottom: -2.3125em;

		@include mq($bp-tablet--sm) {
			//top: 2rem;
		}
	}
}

.timeline__event {
	position: relative;

	&::before {
		position: absolute;
		top: 1.1875em;
		left: -1.375rem;
		width: .8125em;
		height: .8125em;
		background-color: var(--timeline-event-bullet-background-color);
		content: '';
	}

	&::after {
		position: absolute;
		top: 1.375em;
		left: -1.1875rem;
		width: .4375rem;
		height: .4375rem;
		border-radius: 50%;
		background-color: var(--timeline-event-bullet-color);
		content: '';
	}

	& + & {
		margin-top: 2.25em;
	}
}
