@import '../mixins';

:root {
	--timeline-color: var(--border-color);
	--timeline-event-bullet-color: #f8bb10;
	--timeline-event-bullet-background-color: var(--content-background-color);
}

.timeline {
	position: relative;
	margin-top: .25em;
	padding-left: 1rem;
	list-style-type: none;

	&::before {
		position: absolute;
		top: -.875em;
		bottom: -1.625em;
		left: 0;
		width: 1px;
		background-color: var(--timeline-color);
		content: '';
	}

	.section--projects &::before {
		@include mq($bp-tablet--sm) {
			top: 2rem;
		}
	}
}

.timeline__event {
	position: relative;

	&::before {
		position: absolute;
		top: 21px;
		left: -22px;
		width: 13px;
		height: 13px;
		background-color: var(--timeline-event-bullet-background-color);
		content: '';
	}

	&::after {
		position: absolute;
		top: 1.5rem;
		left: -1.1875rem;
		width: .4375rem;
		height: .4375rem;
		border-radius: 50%;
		background-color: var(--timeline-event-bullet-color);
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		content: '';
	}

	& + & {
		margin-top: 1.75em;
	}
}
