@import '../mixins';

:root {
	--book-background-color: #4c5b5c;
	--book-text-color: #e9e7da;

	--subtitle-color: #404d4e;
	--subtitle-box-shadow-color: #58696a;
}

//@media screen and (min-width: 400px) {
//	:root {
//		--book-background-color: #47faf2;
//	}
//}

html {
	margin: 0;
	padding: 0;

	@include unsupported-landscape() {
		height: 100vh;
		height: stretch;
		overflow: hidden;
	}
}

.book {
	background-color: var(--book-background-color);
	color: var(--book-text-color);
	font-family: var(--font-family-sans-serif);
	font-size: 16px;
	line-height: 1.5;

	@include unsupported-landscape() {
		position: relative;
		height: 100vh;
		height: stretch;
	}
}

.book > *:not(:last-child) {
	@include unsupported-landscape() {
		display: none;
		visibility: hidden;
	}
}

.book__header {
	padding: 2rem;
	text-align: center;

	@include mq($bp-tablet--sm) {
		position: relative;
		height: 300px;
		margin-left: 200px;
		padding-left: 1rem;
		text-align: left;
	}
}

.book__title {
	font-family: 'Open Sans Condensed', var(--font-family-sans-serif);
	font-size: 10vw;
	line-height: 1;
	text-transform: lowercase;

	@include mq($bp-tablet--sm) {
		position: absolute;
		right: 2rem;
		bottom: 50%;
		left: 1rem;
		padding-bottom: .5rem;
		font-size: 3.5em;

		&::before {
			position: absolute;
			right: -1rem;
			bottom: -3px;
			left: -200px;
			height: 1px;
			background-color: var(--emphasize-text-color);
			content: '';
		}

		&::after {
			position: absolute;
			right: -1rem;
			bottom: 0;
			left: -200px;
			height: 1px;
			background-color: var(--book-text-color);
			content: '';
		}
	}
}

.book__subtitle {
	display: inline-block;
	position: relative;
	font-family: var(--font-family-monospace);
	font-size: 4vw;
	font-weight: 400;

	&::after {
		position: absolute;
		top: 50%;
		left: calc(100% + .5rem);
		transform: translateY(-50%);
		color: var(--subtitle-color);
		font-size: 1.6em;
		text-shadow: 1px 0 0 var(--subtitle-box-shadow-color);
		content: '&';
	}

	@include mq($bp-tablet--sm) {
		position: absolute;
		top: 50%;
		left: 1rem;
		margin-top: .5rem;
		font-size: 1.4375em;
	}
}

.footer {
	padding: 1rem;
	font-size: .875em;
}
