@import '../mixins';
@import '../typography';

:root {
	--book-background-color: #4c5b5c;
	--book-text-color: #e9e7da;
	--book-header-border-color: var(--accent-color);
	--book-subtitle-color: #404d4e;
	--book-subtitle-box-shadow-color: #58696a;
}

.book {
	background-color: var(--book-background-color);
	color: var(--book-text-color);
	font-family: $font-family-sans-serif;
	font-size: 16px;
	line-height: 1.5;

	@include unsupported-landscape() {
		position: relative;
		height: 100vh;
		height: stretch;
	}
}

.book > *:not(:last-child) {
	@include unsupported-landscape() {
		display: none;
		visibility: hidden;
	}
}

.book__header {
	padding: 2rem;
	border-bottom: 2px solid var(--book-header-border-color);
	text-align: center;

	@include mq($bp-tablet--sm) {
		position: relative;
		padding-left: 14.5rem;
		text-align: left;
	}
}

.book__title {
	font-size: 10vw;
	line-height: 1;
	text-transform: lowercase;

	@include mq($bp-tablet--sm) {
		font-size: 3.5em;
	}
}

.book__lead {
	display: inline-block;
	position: relative;
	font-family: $monospace;
	font-size: 4vw;
	font-weight: 400;

	&::after {
		position: absolute;
		top: 50%;
		left: calc(100% + .5rem);
		transform: translateY(-50%);
		color: var(--book-subtitle-color);
		font-size: 1.6em;
		text-shadow: 1px 0 0 var(--book-subtitle-box-shadow-color);
		content: '&';
	}

	@include mq($bp-tablet--sm) {
		font-size: 1.4375em;
	}
}

.book__footer {
	padding: 1rem;
	font-family: $opensanscondensed;
	font-size: 1.25em;
	font-weight: $opensanscondensed--normal;
	text-align: center;
}
