@charset "UTF-8";
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0; }

picture {
  display: block; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

:root {
  --accent-color: #f8bb10;
  --border-color: #efefef; }

:root {
  --link-color: var(--accent-color);
  --link-color--hover: #e9e7da; }

a {
  transition: color 300ms ease-in-out;
  text-decoration: none;
  cursor: pointer; }
  a, a:visited {
    color: var(--link-color); }
  a:hover {
    color: var(--link-color--hover); }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.chapter__description .list {
  display: flex;
  flex-wrap: wrap; }

.tags .list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.75rem -0.125rem 0; }

.chapter__description .list-item {
  margin-right: .25em; }
  .chapter__description .list-item::after {
    content: ' /'; }
  .chapter__description .list-item:nth-last-child(2)::after {
    content: ','; }
  .chapter__description .list-item:last-child {
    margin-right: 0; }
    .chapter__description .list-item:last-child::after {
      content: none; }

.tags .list-item {
  margin: .3125rem .125rem; }

:root {
  --emphasize-text-color: var(--accent-color); }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }
  h1 + h1,
  h2 + h1,
  h3 + h1,
  h4 + h1,
  h5 + h1,
  p + h1, h1 +
  h2,
  h2 +
  h2,
  h3 +
  h2,
  h4 +
  h2,
  h5 +
  h2,
  p +
  h2, h1 +
  h3,
  h2 +
  h3,
  h3 +
  h3,
  h4 +
  h3,
  h5 +
  h3,
  p +
  h3, h1 +
  h4,
  h2 +
  h4,
  h3 +
  h4,
  h4 +
  h4,
  h5 +
  h4,
  p +
  h4, h1 +
  h5,
  h2 +
  h5,
  h3 +
  h5,
  h4 +
  h5,
  h5 +
  h5,
  p +
  h5, h1 +
  p,
  h2 +
  p,
  h3 +
  p,
  h4 +
  p,
  h5 +
  p,
  p +
  p {
    margin-top: 1em; }

.emphasize {
  display: block;
  color: var(--emphasize-text-color);
  text-transform: uppercase; }

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700; }

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"); }

:root {
  --book-background-color: #4c5b5c;
  --book-text-color: #e9e7da;
  --book-header-border-color: var(--accent-color);
  --book-subtitle-color: #404d4e;
  --book-subtitle-box-shadow-color: #58696a; }

.book {
  background-color: var(--book-background-color);
  color: var(--book-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media only screen and (orientation: landscape) and (max-device-width: 818px) {
    .book {
      position: relative;
      height: 100vh;
      height: -webkit-fill-available;
      height: -moz-available;
      height: stretch; } }

@media only screen and (orientation: landscape) and (max-device-width: 818px) {
  .book > *:not(:last-child) {
    display: none;
    visibility: hidden; } }

.book__header {
  padding: 2rem;
  border-bottom: 2px solid var(--book-header-border-color);
  text-align: center; }
  @media screen and (min-width: 768px) {
    .book__header {
      position: relative;
      height: 300px;
      margin-left: 200px;
      padding-left: 1rem;
      text-align: left; } }

.book__title {
  font-size: 10vw;
  line-height: 1;
  text-transform: lowercase; }
  @media screen and (min-width: 768px) {
    .book__title {
      position: absolute;
      right: 2rem;
      bottom: 50%;
      left: 1rem;
      padding-bottom: .5rem;
      font-size: 3.5em; }
      .book__title::before {
        position: absolute;
        right: -1rem;
        bottom: -3px;
        left: -200px;
        height: 1px;
        background-color: var(--emphasize-text-color);
        content: ''; }
      .book__title::after {
        position: absolute;
        right: -1rem;
        bottom: 0;
        left: -200px;
        height: 1px;
        background-color: var(--book-text-color);
        content: ''; } }

.book__subtitle {
  display: inline-block;
  position: relative;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 4vw;
  font-weight: 400; }
  .book__subtitle::after {
    position: absolute;
    top: 50%;
    left: calc(100% + .5rem);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: var(--book-subtitle-color);
    font-size: 1.6em;
    text-shadow: 1px 0 0 var(--book-subtitle-box-shadow-color);
    content: '&'; }
  @media screen and (min-width: 768px) {
    .book__subtitle {
      position: absolute;
      top: 50%;
      left: 1rem;
      margin-top: .5rem;
      font-size: 1.4375em; } }

.book__footer {
  padding: 1rem;
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center; }

:root {
  --content-background-color: #fff;
  --content-text-color: #4c5b5c; }

.content {
  background-color: var(--content-background-color);
  color: var(--content-text-color); }

@media only screen and (orientation: landscape) and (max-device-width: 818px) {
  .landscape-to-portrait {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .landscape-to-portrait:before {
      font-family: "icons", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-decoration: none;
      text-transform: none;
      speak: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 25vh; } }

@media only screen and (orientation: landscape) and (max-device-width: 818px) {
  html {
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    overflow: hidden; } }

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"); }

.chapter p {
  margin-top: .5rem; }
  .chapter p + .chapter p {
    margin-top: .25em; }

.chapter__description {
  margin-top: .25rem;
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25; }

.chapter__period {
  font-size: .625em;
  line-height: 1; }

.chapter__title {
  margin-top: .3125rem;
  font-size: 1.375em;
  line-height: 1; }

.logo {
  position: relative;
  width: 50vw;
  height: 50vw;
  margin: 0 auto 2rem;
  border-radius: 50%;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .logo {
      position: absolute;
      top: 50%;
      left: calc(-160px + .5rem);
      width: 120px;
      height: 120px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border: 2px solid var(--book-background-color);
      border-radius: 25%;
      z-index: 1; } }

.logo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: sepia(1) brightness(0.75);
          filter: sepia(1) brightness(0.75); }

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"); }

:root {
  --section-header-background-color: #fafafa;
  --section-header-icon-color: #ddd;
  --section-title-color: #e3655b;
  --section-counter-color: #3891a6; }

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-start; } }

.section__header {
  position: relative;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--section-header-background-color); }
  .section__header::after {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: var(--section-header-icon-color);
    font-size: 4.25em; }
  @media screen and (min-width: 768px) {
    .section__header {
      flex: 200px 0 0;
      border-top: 0;
      border-bottom: 0;
      text-align: right; }
      .section__header::after {
        display: none; } }
  .section:first-child .section__header {
    border-top: 0; }

.section__title {
  margin-top: -.09375em;
  color: var(--section-title-color);
  font-size: 2em;
  line-height: 1; }

.section__subtitle {
  margin-top: .325rem;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1; }

.section__content {
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .section--about .section__content {
      padding-top: 23px; } }
  .section--expertise .section__content {
    counter-reset: expertise; }

.section__content h3 {
  font-size: 1.375em;
  line-height: 1; }
  .section--expertise .section__content h3 {
    counter-increment: expertise; }
    .section--expertise .section__content h3::before {
      display: inline-block;
      box-sizing: content-box;
      padding-right: 1rem;
      color: var(--section-counter-color);
      font-weight: 700;
      letter-spacing: 1px;
      text-align: center;
      content: counters(expertise, ".", decimal-leading-zero); }
    @media screen and (min-width: 360px) {
      .section--expertise .section__content h3::before {
        width: 1.5rem; } }
    @media screen and (min-width: 768px) {
      .section--expertise .section__content h3:first-child {
        margin-top: 5px; } }

@media screen and (min-width: 360px) {
  .section--expertise .section__content p {
    padding-left: 2.5rem; } }

@media screen and (min-width: 768px) {
  .section--expertise .section__content p {
    padding-left: 0; } }

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"); }

:root {
  --tag-background-color: #f0f0f0;
  --tag-text-color: #111; }

.tags {
  line-height: 1; }

.tag {
  padding: .1875em .375em;
  border-radius: .25rem;
  background-color: var(--tag-background-color);
  color: var(--tag-text-color);
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: .8125em;
  white-space: nowrap; }

:root {
  --timeline-color: var(--border-color);
  --timeline-event-bullet-color: #f8bb10;
  --timeline-event-bullet-background-color: var(--content-background-color); }

.timeline {
  position: relative;
  margin-top: 0;
  padding-left: 1rem;
  list-style-type: none; }
  .timeline::before {
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 0;
    width: 1px;
    background-color: var(--timeline-color);
    content: ''; }

.timeline__event {
  position: relative; }
  .timeline__event::before {
    position: absolute;
    top: 21px;
    left: -22px;
    width: 13px;
    height: 13px;
    background-color: var(--timeline-event-bullet-background-color);
    content: ''; }
  .timeline__event::after {
    position: absolute;
    top: 1.5rem;
    left: -1.1875rem;
    width: .4375rem;
    height: .4375rem;
    border-radius: 50%;
    background-color: var(--timeline-event-bullet-color);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    content: ''; }
  .timeline__event + .timeline__event {
    margin-top: 2rem; }
