* {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.15;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;

	& + & {
		margin-top: 1em;
	}
}

ul {
	margin-top: 0;
}

picture {
	display: block;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
