* {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.15;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
}

picture {
	display: block;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
