@import 'fonts/icons';

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-icons: $icon-font-name;
$opensanscondensed: 'Open Sans Condensed', $font-family-sans-serif;
$opensanscondensed--normal: 300;
$opensanscondensed--bold: 700;
