@charset "UTF-8";

@import 'reset';
@import 'typography';

@import 'layouts/book';
@import 'layouts/content';
@import 'modules/modules';

:root {
	--emphasize-text-color: #f8bb10;
}

.emphasize {
	display: block;
	color: var(--emphasize-text-color);
	text-transform: uppercase;
}
