ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list {
	.chapter__description & {
		display: flex;
		flex-wrap: wrap;
	}

	.tags & {
		display: flex;
		flex-wrap: wrap;
		margin: .75rem 0 - .125rem 0;
	}
}

.list-item {
	.chapter__description & {
		margin-right: .25em;

		&::after {
			content: ' /';
		}

		&:nth-last-child(2)::after {
			content: ',';
		}

		&:last-child {
			margin-right: 0;

			&::after {
				content: none;
			}
		}
	}

	.tags & {
		margin: .3125rem .125rem;
	}
}
