---
title: Projects
description: Yes, I've been around
key: projects
order: 4
tags:
    - section
---
<ul class="timeline">
    {%- for project in collections.project -%}
        <li class="timeline__event">
            {% include "project.njk" %}
        </li>
    {%- endfor -%}
</ul>
