<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Kevin Van Den Haute">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="3 month">
	<title>{{ title }}</title>
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
	<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="css/klevr.css" type="text/css">
</head>
<body class="book">
	<header class="book__header">
		<h1 class="book__title" title="Kevin Van Den Haute">
			Kevin <span class="emphasize">Van Den Haute</span>
		</h1>
		<p class="book__lead">
			freelance web developer<br>
			frontend expert
		</p>
	</header>
	<main class="book__content">
		{%- for section in collections.sections -%}
			<section class="section{% if section.data.key %} section--{{ section.data.key }}{% endif %}">
				<header class="section__header">
					<h2 class="section__title">
						{{ section.data.title }}
					</h2>
					<p class="section__lead">{{ section.data.description }}</p>
				</header>
				<div class="section__content">
					{{ section.templateContent | safe }}
				</div>
			</section>
		{%- endfor -%}
	</main>
	<footer class="book__footer">
		<ul class="list">
			<li class="list-item">Kevin Van Den Haute bv</li>
			<li class="list-item">Grimbergsesteenweg 159c, 1980 Eppegem</li>
			<li>
				<script>
					document.write('<a href="mai');
					document.write('lto');
					document.write(':&#107;&#101;&#118;&#105;&#110;');
					document.write('@');
					document.write('&#118;&#97;&#110;&#100;&#101;&#110;&#104;&#97;&#117;&#116;&#101;&#46;&#109;&#101;">');
					document.write('&#107;&#101;&#118;&#105;&#110;');
					document.write('@');
					document.write('&#118;&#97;&#110;&#100;&#101;&#110;&#104;&#97;&#117;&#116;&#101;&#46;&#109;&#101;<\/a>');
				</script>
				<noscript>
					&#107;&#101;&#118;&#105;&#110; at &#118;&#97;&#110;&#100;&#101;&#110;&#104;&#97;&#117;&#116;&#101; dot &#109;&#101;
				</noscript>
			</li>
			<li class="list-item">RPR Brussel nr. 0535.934.403</li>
		</ul>
	</footer>
	<div class="landscape-to-portrait"></div>
</body>
</html>
