<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Kevin Van Den Haute">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="3 month">
	<title>{{ title }}</title>
	<link rel="icon" href="favicon.png" type="image/x-icon">
</head>
<body class="book">
	<header class="header">
		<h1 class="title" title="Kevin Van Den Haute">
			<span class="emphasis">Kevin</span> Van Den Haute
		</h1>
		<h2 class="subtitle">
			freelance web developer<br>
			frontend expert
		</h2>
	</header>
	<main class="content">
		{%- for section in collections.section -%}
			<section class="section">
				<header class="section__header">
					<h2 class="section__title">
						{{ section.data.title }}
					</h2>
					<small class="section__description">{{ section.data.description }}</small>
				</header>
				{{ section.templateContent | safe }}
			</section>
		{%- endfor -%}
	</main>
	<footer class="footer">
		Kevin Van Den Haute bv - Grimbergsesteenweg 159c, 1980 Eppegem - RPR Brussel nr. 0535.934.403
	</footer>
</body>
</html>
