<article class="chapter">
	<header class="chapter__header">
		<div class="chapter__period">
			<time datetime="{{ project.data.from | datetime }}" class="date">{{ project.data.from | readableDate }}</time> -

			{% if project.data.until == 'present' %}
				present
			{% else %}
				<time datetime="{{ project.data.until | datetime }}" class="date">{{ project.data.until | readableDate }}</time>
			{% endif %}
		</div>
		<h4 class="chapter__title">
			{{ project.data.name }}
		</h4>
		<div class="chapter__description">
			<ul class="list">
				{%- for function in project.data.function -%}
					<li class="list-item">{{ function }}</li>
				{%- endfor -%}

				<li class="list-item">{{ project.data.client }}</li>
			</ul>
		</div>
	</header>
	<div class="chapter__content">
		{{ project.templateContent | safe }}
	</div>
	<footer class="chapter__footer">
		<div class="tags">
			<ul class="list">
				{%- for keyword in project.data.keywords | sort -%}
					<li class="list-item">
						<span class="tag">{{ keyword }}</span>
					</li>
				{%- endfor -%}
			</ul>
		</div>
	</footer>
</article>
